<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="style.css" charset="utf-8">
    </head>

    <body>
        {% set img = img|default('http://content.pulse.ea.com/content/starwars-ea-com/fr_FR/starwars/battlefront/news-articles/training-missions-learn-the-ways-of-star-wars-battlefront/_jcr_content/featuredImage/renditions/rendition1.img.jpg') %}

        {% for isblock in btnBlocks|default([false]) %}
            {% for size in sizes|default(['md']) %}
                {% for theme in themes|default(['default']) %}
                    <h4>Thumbnail - {{ theme }} / {{ size }} {% if isblock %}/ block{% endif %}</h4>
                    <ul class="thumbnail-grid">
                        {% for item in 1..4 %}
                            <li class="thumbnail-grid__col">
                                {% embed '../../thumbnail.html.twig' with { href: '#', size: size, img: { src: img, alt: 'alt' }, btn: { label: 'Lire la suite', block: isblock, theme: theme }} %}
                                {% endembed %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </body>
</html>
