<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="style.css" charset="utf-8">
    </head>

    <body>
        <h2>thumbnail</h2>
        {% set img = img|default('http://content.pulse.ea.com/content/starwars-ea-com/fr_FR/starwars/battlefront/news-articles/training-missions-learn-the-ways-of-star-wars-battlefront/_jcr_content/featuredImage/renditions/rendition1.img.jpg') %}

        {% set thmbnlGui = [
            { size: 'md', theme: 'default', position: 'left', banner: false },
            { size: 'md', theme: 'default', position: 'left', banner: 'hello world !' },
            { size: 'md', theme: 'default', position: 'center', banner: false },
            { size: 'md', theme: 'default', position: 'block', banner: false },
        ] %}

        {% for thmbnl in thmbnlGui %}
            <h4>Thumbnail - {{ thmbnl.theme }} / {{ thmbnl.size }} {% if thmbnl.block %}/ block{% endif %} {% if thmbnl.banner %}/ with banner{% endif %}</h4>

            <ul class="thumbnail-grid">
                {% for item in 1..3 %}
                    <li class="thumbnail-grid__col">
                        {% embed '../../thumbnail.html.twig' with { href: '#', size: thmbnl.size, img: img, btn: { label: 'Lire la suite', theme: thmbnl.theme, position: thmbnl.position }, banner: thmbnl.banner } %}
                        {% endembed %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </body>
</html>
